.cust-img-width {
    width: 18% !important;
  }

.cust-img2-width {
    width: 36% !important;
  }

.cust-plan-width {
    width: 27% !important;
    position: fixed;
  }

.cust-width-50pct {
	width: 50% !important;
  }

.cust-width-100pct {
	width: 100% !important;
  }

.clear { clear: both;}

.cust-panal-margin-bottom {  
  margin-bottom: 9px; 
  }

.img-border-radius {
  border-radius:3px;
}




@media (min-width: 320px) {
  
  
  .col {
  float: left;
  width: 50%;
  padding-left: 4px;
  padding-right: 4px;

}
}

@media (min-width: 500px){
  
  
  .col {
  float: left;
  width: 33.33%;
  padding-left: 4px;
  padding-right: 4px;

}
}

@media (min-width: 700px) {
  
  
  .col {
  float: left;
  width: 25%;
  padding-left: 4px;
  padding-right: 4px;

}
}

@media (min-width: 1200px) {
  
  
  .col {
  float: left;
  width: 20%;
  padding-left: 4px;
  padding-right: 4px;

}
}
