<!DOCTYPE html>
<html id="SF_template" ><!--ng-app="eatme" ng-controller="CMToolbar_Controller">-->

      <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
      <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
      <link rel="stylesheet" href="css/bootstrap-PaperTheme.css">
      <link rel="stylesheet" href="css/flip.css">
      <link rel="stylesheet" href="EatMeCustomStyles.css">
      
      <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-route.js"></script>
      <script src="js/angular-drag-and-drop-lists.js"></script>
      <script src="js/ColorThief/dist/color-thief.min.js"></script>
      <script src="js/jquery.matchHeight.js"></script>


  <head>

    <title>Eat Me Project</title>

  <div id="toolbar" class="navbar navbar-default navbar-fixed-top" >
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Browse Recipes <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">My Recent</a></li>
          <li><a href="#">Popular</a></li>
          <li class="divider"></li>
          <li><a href="#">One more separated link</a></li>
          <li class="divider"></li>
        </ul>
      </li>
    </ul>

    <form class="navbar-form navbar-left cust-width-50pct" role="search">
      <div class="form-group cust-width-100pct">
        <input type="text" class="form-control cust-width-100pct" placeholder="Search">
      </div>
    </form>
  </div>
   
   <!-- END Toolbar Component -->
  </head>
  <body style="background: #f2f2f2">
    <div class="container-fluid col-lg-9" id="outer-container" style="width=72% important!;">
    
      <div class="col-lg-3 col-md-3 section__content clearfix" style="top:74px;">

        <div id="1-holder" class="card effect__click " style="">
          <img id="1-img"  class="card__front img-border-radius panel" src="img/sweet-dinner-rolls.jpg">
          <div id="1-card" class="card__back  img-border-radius panel" style="background-color:#000000;">
            test
          </div>
        </div>
        

        <div id="2-holder" class="card effect__click " style="">
          <img id="2-img"  class="card__front img-border-radius panel" src="img/Shrimp-Florentine.jpg">
          <div id="2-card" class="card__back  img-border-radius panel" style="background-color:#000000;">
            test
          </div>
        </div>

        <div id="3-holder" class="card effect__click " style="">
          <img id="3-img"  class="card__front img-border-radius panel" src="img/Japanese-Chicken-Wings.jpg">
          <div id="3-card" class="card__back  img-border-radius panel" style="background-color:#000000;">
            test
          </div>
        </div>
     
      </div>
      

      <div class="col-lg-3 col-md-3" style="top:74px;">
        <div class="clear">
          <img class="cust-width-100pct img-border-radius panel panel-default cust-panal-margin-bottom" src="img/roquefort-pear-salad.jpg">
        </div>
        <div class="clear">
          <img class="cust-width-100pct img-border-radius panel panel-default cust-panal-margin-bottom" src="img/worlds-best-lasagna.jpg">
        </div>
        <div class="clear">
          <img class="cust-width-100pct img-border-radius panel panel-default cust-panal-margin-bottom" src="img/Japanese-Chicken-Wings.jpg">
        </div>
      </div>


      <div class="col-lg-3 col-md-3" style="top:74px;">
        <div class="clear">
          <img class="cust-width-100pct img-border-radius panel panel-default cust-panal-margin-bottom" src="img/Poached-Eggs-Asparagus.jpg">
        </div>
        <div class="clear">
          <img class="cust-width-100pct img-border-radius panel panel-default cust-panal-margin-bottom" src="img/honey-garlic-chicken.jpg">
        </div>
        <div class="clear">
          <img class="cust-width-100pct img-border-radius panel panel-default cust-panal-margin-bottom" src="img/Japanese-Chicken-Wings.jpg">
        </div>
      </div>


      <div class="col-lg-3 col-md-3" style="top:74px;">
        <div class="clear">
          <img class="cust-width-100pct img-border-radius panel panel-default cust-panal-margin-bottom" src="img/Spinach-Artichoke-Dip.jpg">
        </div>
        <div class="clear">
          <img class="cust-width-100pct img-border-radius panel panel-default cust-panal-margin-bottom" src="img/vanilla-crapes.jpg">
        </div>
        <div class="clear">
          <img class="cust-width-100pct img-border-radius panel panel-default cust-panal-margin-bottom" src="img/Japanese-Chicken-Wings.jpg">
        </div>

      </div>
      
      </div>
    

      <div class="col-lg-3 col-md-3" style="position:fixed; right:0px; top:74px;">
        <div class="list-group">
          <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading">This Week's Plan</h4>
          </a>
          <a href="#" class="list-group-item">
            <h3 class="list-group-item-heading">Sunday</h3>
          </a>
          <a href="#" class="list-group-item">
            <h3 class="list-group-item-heading">Monday</h3>
          </a>
          <a href="#" class="list-group-item">
            <h3 class="list-group-item-heading">Tuesday</h3>
          </a>
          <a href="#" class="list-group-item">
            <h3 class="list-group-item-heading">Wednesday</h3>
          </a>
          <a href="#" class="list-group-item">
            <h3 class="list-group-item-heading">Thursday</h3>
          </a>
          <a href="#" class="list-group-item">
            <h3 class="list-group-item-heading">Friday</h3>
          </a>
          <a href="#" class="list-group-item">
            <h3 class="list-group-item-heading">Saturday</h3>
          </a>
        </div>
      </div>
    </div>
  </body>

      <script>
      imageLoadScriptWindow = function()
      {
        $('*[id*=-img]:visible').each(function() {
            imageLoadScript(this);
          });
      }
      imageLoadScript = function(element)
      {
        if( element == undefined )
          element = this;

        var cardId = element.id.substring(0,element.id.length-4)+ '-card';
        $('#'+cardId).height($('#'+element.id).height());

      }
      $(window).ready(imageLoadScriptWindow);
        
      $( '#1-img' ).load(imageLoadScript);
      

      </script>

      <script>
      /**
       * Do the clicking stuff
       *
       */

      (function() {
        var cards = document.querySelectorAll(".card.effect__click");
        for ( var i  = 0, len = cards.length; i < len; i++ ) {
          var card = cards[i];
          clickListener( card );
        }

        function clickListener(card) {
          card.addEventListener( "click", function() {
            var c = this.classList;
            c.contains("flipped") === true ? c.remove("flipped") : c.add("flipped");
          });
        }
      })();

      /**
       * Do the random stuff
       *
       */

      (function() {

        // cache vars
        var cards = document.querySelectorAll(".card.effect__random");
        var timeMin = 1;
        var timeMax = 3;
        var timeouts = [];

        // loop through cards
        for ( var i = 0, len = cards.length; i < len; i++ ) {
          var card = cards[i];
          var cardID = card.getAttribute("data-id");
          var id = "timeoutID" + cardID;
          var time = randomNum( timeMin, timeMax ) * 1000;
          cardsTimeout( id, time, card );
        }

        // timeout listener
        function cardsTimeout( id, time, card ) {
          if (id in timeouts) {
            clearTimeout(timeouts[id]);
          }
          timeouts[id] = setTimeout( function() {
            var c = card.classList;
            var newTime = randomNum( timeMin, timeMax ) * 1000;
            c.contains("flipped") === true ? c.remove("flipped") : c.add("flipped");
            cardsTimeout( id, newTime, card );
          }, time );
        }

        // random number generator given min and max
        function randomNum( min, max ) {
          return Math.random() * (max - min) + min;
        }

      })();
      </script>

</html>